.sideBar ul li{
    list-style-type: none;
    padding: 10px;
    color: black;
}

.sideBar ul li a{
    text-decoration: none ;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #212529;
}
.sideBar{
    background-color: #f9f9f9;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: sticky;
    top: 75px
}
.sideBar ul li a p{
    margin-bottom: 0px;
    color: black;
}
.sideBar li:hover {
    background-color: #f0f0f0; /* Background color when hovered */
  }
  
  .sideBar a:hover {
    color: blue; /* Text color when hovered */
  }
  body{
    background-color: #f9f9f9;
  }