.chat{
    width: 17%;
    display: flex;
    justify-content: end;
    overflow: hidden;
    position: fixed;
    right: 0%;
    height: 100vh;
}

.chat1{
    width: 100%;
    background-color: white;
}
.search-users {
width: 100%;
display: flex;
flex-direction: column;
justify-content: end;
}
.search-users input{
background-color: #fcfafa;
margin: 10px 15px;
padding: 12px 30px;
border-radius: 25px;
border: none;
outline: none;
}
